.show-main-container {
  max-width: 100%;
  height: 100%;
  display: flex;

  .show-mc-lc{
    width: 12%;
    background-color: #60A3AB;
    margin-right: 15px;
  }
  .show-mc-mc{
    padding: 10px;
    width: 15%;
    text-align: center;
  }
  .show-mc-rc{
    padding: 30px 5px;
    width: 77%;
    margin-bottom: 20px;

    .link-name-profil{


        font-size: 24px;
        color: black;
        transition: 0.5s ease;
        &:hover {
        font-size: 32px;
        color: black;
        transition: 0.5s ease;
        text-decoration: underline;
        }

    }
    .rc-infos-ul {
      list-style-type: none;

      h3{
        margin: 5 0px;
        padding: 0;
        font-size: 24px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
      }

      h2{
        margin: 0;
        padding: 0;
        font-size: 32px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
      }
      p{
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
      }
    }

    .rc-infos-ul li:nth-of-type(1) {
      margin-top: 5%;
    }
    .rc-infos-ul li:nth-of-type(2) {
      margin-top: 5%;
    }
    .rc-infos-ul li:nth-of-type(3) {
      margin-top: 5%;
    }
    .rc-infos-ul li:nth-of-type(4) {
      margin-top: 5%;
    }

    .rc-description-container{
      width: 85%;
    }
    .rc-btn-container{
      display: flex;
      width: 85%;
      justify-content: start;
    }
  }


}

.offer-modal-main-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.5);
}

.om-content {
  position: fixed;
  top: 0px;
  right: 0;
  height: 100%;
  width: 60%;
  z-index: 500;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  animation: left-shift 0.5s ease-in-out forwards;
}

@keyframes left-shift {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.right-shift {
  animation: right-shift 0.5s ease-in-out forwards;
}

@keyframes right-shift {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
