<div class="clickable" data-action="click->map#scrollelement" data-id=<%= offer.id%>>
<i class="fa-solid fa-briefcase"></i>
<h3><%= offer.job_title %></h3>
<i class="fa-solid fa-euro-sign"></i>
<p><%= offer.salary %></p>
</div>
