<div class="logo-container">
  <div class="logo-container-lc">
    <%= image_tag 'logo-time-2-rest.png', height: 90, width: 110, alt: "text" %>
  </div>
  <div class="logo-container-rc">
    <h1>Time2Rest</h1>
  </div>
</div>
