
<div class="msg-card">

    <div class="msg-card-lc">
      <%= render partial: 'shared/avatar_small', locals: {img: img} %>
    </div>

    <div class="msg-card-rc">
      <div class="msg-card-rc-tc">
        <h3><%= first_name + last_name %></h3>
        <%# Il faudra ici utiliser le created time du message et le comparer au date time.now pour trouver un moyen de l'afficher %>
        <p><%= time %></p>
      </div>
      <div class="msg-card-rc-bc">
        <%# Il faudra mettre une condition ici si l'auteur du dernier message est cirrent user alors you : message %>
        <%# Sinon prénom: message %>
        <p><%= 'You: '  + message %></p>
      </div>
    </div>

  </div>
