<div class="message-container">
  <%= render partial: 'shared/avatar_small', locals: {img: img} %>

  <div class = "message-container-infos">
    <div class= "message-container-upper-infos">
      <h3><%= first_name + last_name %></h3>
      <%# Il faudra ici utiliser le created time du message et le comparer au date time.now pour trouver un moyen de l'afficher %>
      <p> <%= time %> </p>
    </div>
    <p>
      <%# Il faudra mettre une condition ici si l'auteur du dernier message est cirrent user alors you : message %>
      <%# Sinon prénom: message %>
      <%= 'You: '  + message %>
    </p>
  </div>

</div>
