

  <div class="my-msg-container">
    <div class="my-msg-lc">
    </div>
    <div class="my-msg-rc">
      <p><strong>You :</strong></p>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque animi eius est, placeat consequuntur eos sed aspernatur ad neque incidunt? Fugit nihil sit ipsa aperiam alias voluptatibus error sapiente ut.</p>
    </div>
  <div>
