<%= form_with url: offers_path, method: :get, class: "my-search-form" do %>
  <div class="my-search-form-lc">
    <i class="fa-solid fa-magnifying-glass"></i>
    <%= text_field_tag :job_title,
        params[:job_title],
        class: "form-control no-border",
        placeholder: "Job"
        %>
  </div>
  <div class="my-search-form-rc">
    <%= text_field_tag :address,
        params[:address],
        class: "form-control no-border",
        placeholder: "location"
    %>
    <i class="fa-solid fa-location-dot"></i>
  </div>
   <%= submit_tag ""%>
<% end %>
