<div class="dashboard-main-container" data-controller="dashboard-link">
  <div class="dmc-lc">
    <div class="lc-nav-container">
      <ul class = "nav">
        <li>
          <p data-action= "click->dashboard-link#switch_page" data-id ="message" data-dashboard-link-target="link">Messageries</p>
        </li>
        <li>
          <p data-action= "click->dashboard-link#switch_page" data-id ="canditature" data-dashboard-link-target="link">Mes canditatures</p>
        </li>
        <li>
          <p class="active" data-action= "click->dashboard-link#switch_page" data-id ="offre" data-dashboard-link-target="link">Mes offres</p>
        </li>
        <li>
          <p data-action= "click->dashboard-link#switch_page" data-id ="edit" data-dashboard-link-target="link">Mon profil</p>
        </li>
      </ul>
      <%= link_to "#", class:"my-disc-btn" do  %>
        <ul>
          <i class="fa-solid fa-power-off"></i>
          <li>
              Disconnect
          </li>
        </ul>
    <%end%>
    </div>
  </div>


  <div class="dmc-rc">
    <div class="dmc-rc-message d-none" data-dashboard-link-target="message" data-id ="msg">
        <p>messsage</p>
    </div>
    <div class="dmc-rc-apply d-none d-flex" data-dashboard-link-target="apply" data-id ="cnd">

        <% @user.appliances.each do |appliance| %>
          <%= render partial: 'shared/my_apply_card', locals: {offer: appliance.offer, user: appliance.offer.user} %>
        <% end %>

    </div>
    <div class="dmc-rc-offer" data-dashboard-link-target="offer" data-id ="ofr">
      <% @offers.each do |offer| %>

        <%= render partial: 'shared/offer_card', locals: { offer: offer, user: @user } %>

        <% if offer.appliances != [] %>
          <div class="offers-appliance">
            <ul style = "display: flex;">
            <% offer.appliances.each do |appliance| %>
              <li style = "display: inline-block"> <%= render partial: 'shared/apply_card', locals: {user: appliance.user} %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


      <% end %>

    </div>
    <div class="dmc-rc-edit d-none" data-dashboard-link-target="edit" data-id ="edt">
      <p>edit</p>
    </div>
  </div>
</div>
