
<h1>Offers#index</h1>

<div id="landing_illustation">
 <div id="landing_fader">
  <div class="landing_info">
    <h2> Find someone to take care of your buisness</h2>
    <h1 id="landing_logo">Time2Rest</h1>
    <div class="arrow_bounce">
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
 </div>

 <% @offers.each do |offer| %>
 <ul>
  <li><%= offer.job_title %></li>
 </ul>
 <% end %>



</div>
