<h1>Offers#show</h1>

<% if policy(@offer).edit? && @offer.user == current_user %>
  <%= link_to "Edit this offer", edit_offer_path(@offer) %>
<% end %>


<%= button_to "Destroy this offer", @offer, method: :delete if policy(@offer).destroy? %>
