.my-btn {
  background-color: #FFA50B;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 10px 30px;
  border-radius: 5px;

  &:hover{
  color: white;
  background-color: rgb(255, 192, 83);
  }
}

.my-btn-small {
  background-color: #FFA50B !important;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 4px 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;

  &:hover{
    color: white;
    background-color: rgb(255, 192, 83);
  }
}


.my-disc-btn  {
    ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    color: #FFA50B;
    text-align: center;
    width: 250px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #FFA50B;
    }
  }
  li {
    font-size: 32px;
    list-style-type: none;
  }
  i {
    font-size: 32px;
  }
}

.my-back-btn {
  display: inline-block;
  background-color: #FFFFFF;
  border: 2px solid;
  text-decoration: none;
  color: #60A3AB;
  font-size: 24px;
  font-weight: light;
  font-family: 'Roboto', sans-serif;
  padding: 20px 20px;
  border-radius: 50%;

  &:hover {
    color: white;
    background-color: #60A3AB;

  }


  // div {
  //   min-width: 85px;
  //   min-height: 85px;
  //   border: 1px solid #60A3AB;
  //   border-radius: 50%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;


  // }
  // i{
  //   color: #60A3AB;
  //   font-weight: 700;
  //   font-size: 48px;
  // }

  // &:hover {
  //   div{
  //     border: 3px solid #60A3AB;
  //   }
  //   i{
  //     font-size: 54px;
  //   }
  // }
}

.my-dashboard-btn{

  i{
    color: white;
    font-size: 32px;
  }
}
