
// css des offres sur l'index
.offer-card-container {
  max-width: 1200px;
  min-width: 700px;
  display: flex;
  margin-bottom: 5vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  .offer-card-lc {
   width: 3%;
   background-color: #60A3AB;
   }
   .offer-card-mc {
   width: 70%;
   height: 100%;
   }
   .offer-card-rc {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 27%;
    background-color: rgba($color: #60A3AB, $alpha: 0.15);
   }
   h2 {
     padding: 10px 30px;
   }
   p {
    padding: 10px 30px;
  }
}

.rc-infos {
  display: flex;
  justify-content: space-around;
  max-width: 85%;
  margin-bottom: 10px;
  margin-left: 10px;

  .rc-infos-fc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .rc-infos-sc{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
  }

  i {
    color: #60A3AB;
  }
  p {
    margin: 3px 0px;
    padding: 0;
  }
}

// css des tuiles dans la messagerie

.msg-card {
  display: flex;
  background-color: rgba($color: #60a3ab, $alpha: 0.15);
  align-items: center;
  min-height: 100px;
  min-width: 200px;
  max-width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 0% 2%;
  margin: 3% 0%;


  .msg-card-lc {
    width: 30%;
  }
  h3 {
    font-size: 18px;
  }
  .msg-card-rc {
    width: 70%;

    .msg-card-rc-tc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
    }
  }
}

.activated{
    background-color: #60a3ab;;
  }
.accepted {
    background-color: rgba($color: rgb(159, 242, 159), $alpha: 0.15);
  }
.appliance-card-container {
  width: 300px;
  border-radius: 15px;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);



  .name-profil-link{
    color: black;
    h3{
      font-size: 24px;
      transition: 0.5s ease-in;
      text-decoration: none;
    }

    &:hover{
      h3{
        font-size: 32px;
        transition: 0.5s ease-in;
        text-decoration: underline;
      }

    }
  }
  .name-container{
    margin: 10px 0px;
  }
  .btn-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
}

.my-apply-container {
  width: 25%;
  display: flex;
  margin: 2%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  .ac-lc{
    width: 10%;
    background-color: #60A3AB;
  }
  .ac-rc{
    width: 90%;
    padding: 10px 20px;
  }

  .name-container{
    display: flex;
    width: 100%;

    p {
      margin-right: 10px;
    }
  }
  .date-container{
    width: 100%;
  }
}
