.container-global-new-page{
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: centers;
}

.conseilpy{
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 30%;
  margin-left: 2%;
  .advices-new-page {
    text-align: center;
  }
}


.advices-new-page {
  text-align: center;
  h3 {
    font-size: 32px;
    font-weight: 500;
  }
}

.container-form-new-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
    h3 {
      font-size: medium;
    }
}

.container-salary-and-dates-new-page {
display: flex;
justify-content: space-between;
}
