.logo-container{
  width: 5lh;
  height: 9vh;
  background-image: url('logo-time-2-rest.png');
  background-size: cover;
  background-position: center;
}

.logo-sentence-container{
  display: inline-block;
}

.logo-sentence-container h1{
  color: black;
  font-size: 32px;
  font-family: 'Satisfy', cursive;
}

.message-container {
 width: 350px;
 height: 105px;
 background-color: #60A3AB;
 box-shadow: 0 0 10px rgba(0,0,0,0.2);
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.message-container:focus {
  background-color: rgba($color: #60A3AB, $alpha: 0.15);
 }

 .message-container-infos {
  width: 70%;
 }

 .message-container-upper-infos {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
 }

 .search-bar-input-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: 15px;
 }

 .search-bar-input-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 15px;
 }
