.dashboard-main-container {
  width: 100%;
  margin-top: 90px;
  height: calc(100vh - 90px);
  display: flex;

  .dmc-lc{
    width: 20%;
    background-color: rgba($color: #60A3AB, $alpha: 0.5)
  }

  .dmc-rc{
    width: 80%;
    position: relative;
  }

  .lc-nav-container {
    padding-top: 45%;
    padding-bottom: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

}

.nav {

  display: block;
  text-align: start;
  border: 1px solid black;

  li {
    font-size: 18px;
    margin-bottom: 5%;
    ::before{
      content: "• ";
    }
  }

  a {
    color: white;

    &:hover{
      color: lightgrey
    }
  }

  .active {
    background-color: rgba($color: #3F664E, $alpha: 1.0);
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 24px;
    color: rgba($color: #FFA50B, $alpha: 1.0);
    ::before {
      color: #FFA50B;
    }
    &:hover {
      color: #FFA50B;
    }
  }
}

.dmc-rc-offer {
  height: 100%;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  overflow: auto;
}

.dmc-rc-edit {
  width: 100%;
  height: 100%;
  display: flex;

  .lc {
    width: 25%;
    text-align: center;

    .name-container {
      display: flex;
      justify-content: center;
    }

    h3 {
      margin: 15px 5px;
    }

    p {
      margin: 20px 0px;
    }

    ul {
      list-style-type: none;
      text-align: start;
      width: fit-content;
      border: 1px solid red;
      margin: 20px auto;
    }

    li {
      margin: 10px 0px;
    }
  }

  .rc {
    width: 75%;
    overflow: auto;
  }
}

.dmc-rc-message {
  width: 100%;
  height: 100%;
  display: flex;
  .rc-message-lc{
    width: 25%;
    height: 100%;
    overflow: auto;
    border: 1px solid black;
  }
  .rc-message-rc{
    width: 75%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .msg-rc-tc {
    width: 95%;
    height: 9%;
    padding: 0 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .avatar-name-container{
      display: flex;
    }
    i {
      font-size: 32px;
    }

    .name-last-online{
      margin-left: 15px;
    }
  }


  .msg-rc-mc {
    width: 95%;
    height: 70%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .msg-rc-bc {
    width: 100%;
    height: 15%;

    .msg-form{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .msg-field {
        padding: 0px 5px;
        width: 70%;
        height: 75%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
      }
  }


}

.diplomas-container{
  width: 80%;
  margin: 15px auto;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  .dc-lc{
    width: 5%;
    background-color: #60A3AB;
  }

  .dc-rc{
    width: 95%;
    padding: 10px 15px;
  }

  .diplomas-infos{
    margin: 15px 0px;

    h3 {
      margin-bottom: 10px;
    }
  }
  .name-location-date{
    display: flex;
    justify-content: space-between;
  }
}

.offers-appliance {
  overflow: auto;
  width: 100%;
  padding: 5px 5px;
}
