
.form-input-background-color {
  background-color: rgba(96, 163, 171, 0.2);
  border: solid rgba(96, 163, 171, 0.8) 1px;
  color: black;
  border-radius: 7px;
  padding-top: 2em;
  padding-left: 1em;
  height: 4em;
  margin-top: 6px;
  margin-left: 1%;
}
.form-input-background-color-description {
  background-color: rgba(96, 163, 171, 0.2);
  border: solid rgba(96, 163, 171, 0.8) 1px;
  color: black;
  border-radius: 7px;
  padding-top: 2em;
  padding-left: 1em;
  height: 13em;
  margin-top: 6px;
  margin-left: 1%;
}

label {
  position: absolute;
  padding: 5px;
  font-weight: normal;
  width: 70;
  margin-top: 6px;
  margin-left: 1%;
}

#offer_start_time  {
  color: black;
  background-color: rgba(96, 163, 171, 0.2);
  border: solid rgba(96, 163, 171, 0.8) 1px;
  border-radius: 7px;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 2em;
  margin-top: 6px;
  margin-left: 1%;
}

#offer_start_time::placeholder {
  color: black;
}

.my-search-form {
  display: flex;
  background-color: rgba($color: #FFFFFF, $alpha: 0.3);
  max-width: 50%;
  height: 65px;
  border-radius: 61px;

  .my-search-form-lc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 15px;

     i{
      margin-right: 5px;
     }
   }

   .my-search-form-rc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 15px;

    i{
      margin-left: 5px;
    }
    .no-border{
      border-left: 1px solid white;
      border-radius: 0px;
    }
   }
   .no-border {
    background-color: transparent;
    border: none;
   }

   i{
    font-size: 24px;
    color: #FFFFFF;

  }
}

// .form-style{
//   width: auto;


// }
