.my-search-form {
  display: flex;
  background-color: rgba($color: #FFFFFF, $alpha: 0.3);
  width: 675px;
  height: 65px;
  border-radius: 61px;
}

.my-search-form i{
  font-size: 24px;
  color: #FFFFFF;
}
