
.form-input-background-color {
  background-color: #60A3AB;
  border: solid black 1px;;
  opacity: 20%;
  border-radius: 7px;
  color: black;
  line-height: 5;

}

.form-input-background-color::placeholder{
  color: white;
  font-weight: bold;
  opacity: 100%;

}

label {
  position: absolute;
  padding: 5px;
  font-weight: bold;

.my-search-form {
  display: flex;
  background-color: rgba($color: #FFFFFF, $alpha: 0.3);
  width: 675px;
  height: 65px;
  border-radius: 61px;
}

.my-search-form i{
  font-size: 24px;
  color: #FFFFFF;

}
