// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "card";
@import "container";
@import "form";
@import "form_legend_clear";
@import "landing";
@import "logo";
@import "dashboard";
@import "navbar";
@import "quote";



// ne pas toucher cette ligne elle permet de reset le comportement des margins de bases
// des éléments css pour que l'on puisse les personnaliser.
* {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: normal;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

h1{
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

h2{
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h3{
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
