#landing_illustation {
  background-image: url('slider-one.jpg');
  background-size: cover;
  background-position: left bottom;
  width: 100%;
  height: 100vh;
  z-index: 0;
  // background-position: relative;
  background-repeat: no-repeat;
  // position: absolute;
  // top: 0px;
}

#landing_fader {
  background-color: #00000018;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing_logo {
  font-family: 'Satisfy', cursive;;
}
.landing_info {
  padding: 70px;
  background-color: #1e424d24;
  width: 100%;
  height: 50vh;
  backdrop-filter: blur(1px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.arrow_bounce{
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.074);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2s ease infinite;

  a {
    color: white;
    scroll-behavior: smooth;
  }

}
.arrow_anim{
  // border: 1px solid rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // animation: bounce 2s ease infinite;

}

body {
  scroll-behavior: smooth;
}

.map_landing{
  height: 500px;
  width: 300px;

}

.fixed {
  position: sticky;
  top: calc(-100vh + 90px);
  left: 0;
  width: 100%;

}



@keyframes bounce {
  0% {

    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);

  }
 25% {

    // background-color: rgba(255, 255, 255, 0.303);
    // box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
  }

  50% {
    // transform: scale(1.5);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);

  }
}

.index-cards-column {
  width: 70%;

}

.landing_container {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  min-height: calc(100vh - 140px);
  // position: relative;
}

.content {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  scroll-behavior: smooth;

}

.map_landing{

  margin-right: 20px;
  width: 80%;
  height: calc(75vh);


}
.fade-in {
  opacity: 1;
  animation: fadetwo 0.5s ease-in-out forwards;
  transition: opacity 1s;
  // transform: translateY(20%);
}

.fade-out {
  opacity: 0;
  animation: fade 0.5s ease-in-out forwards;
  transition: opacity 1s;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadetwo {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
  }
}

#fixed-map {
  position: sticky;
  top: 130px;
  left: 5%;
}

#no-background {
  background-image: none;
}
