.logo-container {
  display: flex;
  margin: 0;
  padding: 0;

  .logo-container-rc{
    display: flex;
    align-items: center;
    text-align: center;
  }
  h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: 'Satisfy', cursive;
  }
}
